# Default fallback, if no other path below this matches
* @iotaledger/sc-platform @iotaledger/core-protocol

# Everything within the SDK folder
/sdk/ @iotaledger/tooling

# Changes to the genesis builder should be approved by Konstantinos or Mirko at least
/crates/iota-genesis-builder/ @kodemartin @miker83z

# infrastructure team
/docker/ @iotaledger/infrastructure @iotaledger/node @iotaledger/devops-admin
/crates/iota-json-rpc*/ @iotaledger/infrastructure
/crates/iota-graphql*/ @iotaledger/infrastructure
/crates/iota-indexer*/ @iotaledger/infrastructure
/crates/iota-data-ingestion*/ @iotaledger/infrastructure
/crates/iota-analytics-indexer/ @iotaledger/infrastructure

# node team
/crates/iota-archival/ @iotaledger/node
/crates/iota-authority-aggregation/ @iotaledger/node @iotaledger/consensus
/crates/iota-config/ @iotaledger/node
/crates/iota-core/ @iotaledger/node @iotaledger/consensus
/crates/iota-network/ @iotaledger/node
/crates/iota-network-stack/ @iotaledger/node
/crates/iota-node/ @iotaledger/node
/crates/iota-types/ @iotaledger/node @iotaledger/sc-platform
/crates/iota-protocol-config/ @iotaledger/node @iotaledger/sc-platform
/crates/iota-protocol-config-macros/ @iotaledger/node @iotaledger/sc-platform
/crates/iota-rest-api/ @iotaledger/node @iotaledger/infrastructure
/crates/iota-snapshot/ @iotaledger/node
/crates/iota-storage/ @iotaledger/node

# consensus team
/consensus/ @iotaledger/consensus

# dev-tools team
/crates/iota/ @iotaledger/dev-tools
/crates/iota-open-rpc/ @iotaledger/dev-tools
/crates/iota-open-rpc-macros/ @iotaledger/dev-tools
/crates/iota-sdk/ @iotaledger/dev-tools
/crates/iota-transaction-builder/ @iotaledger/dev-tools

# Frontend apps to be looked after by Boxfish Studio or the tooling team
/apps/ @iotaledger/tooling
/dapps/ @iotaledger/tooling
/linting/ @iotaledger/tooling
/.husky/ @iotaledger/tooling
/.changeset/ @iotaledger/tooling
.eslintrc.js @iotaledger/tooling
.lintstagedrc.json @iotaledger/tooling
.npmrc @iotaledger/tooling
.prettierignore @iotaledger/tooling
graphql.config.ts @iotaledger/tooling
package.json @iotaledger/tooling
pnpm-workspace.yaml @iotaledger/tooling
prettier.config.js @iotaledger/tooling
turbo.json @iotaledger/tooling
vercel.json @iotaledger/tooling

# vm-language team
# Needs to be after package.json ownership definition to override it
/iota-execution/ @iotaledger/vm-language
/external-crates/ @iotaledger/vm-language

# Docs and examples are for DevEx to approve upon
/docs/ @iotaledger/devx
/examples/ @iotaledger/devx

# Override ownership of Boxfish Studio and the tooling team for the following files
/docs/**/package.json @iotaledger/devx
/docs/**/vercel.json @iotaledger/devx

# CI Taskforce
/.github/actions/ @msarcev @alexsporn @thibault-martinez @DaughterOfMars @Dr-Electron
/.github/workflows/ @msarcev @alexsporn @thibault-martinez @DaughterOfMars @Dr-Electron

# Protect this CODEOWNERS file, with some fallback in case of unavailability
/.github/CODEOWNERS @luca-moser @lzpap @miker83z @alexsporn

# Scripts
/scripts/dependency_graphs/ @muXxer
/scripts/cargo_sort/ @muXxer
/scripts/generate_files/ @muXxer
/scripts/codesearch/ @muXxer
/scripts/slipstream/ @muXxer
/scripts/tooling/ @iotaledger/tooling

# Disable code ownership for these auto-generated files
/Cargo.lock
/pnpm-lock.yaml

# TO BE SORTED
/crates/bin-version/
/crates/iota-adapter-transactional-tests/
/crates/iota-analytics-indexer-derive/
/crates/iota-aws-orchestrator/
/crates/iota-benchmark/
/crates/iota-bridge/
/crates/iota-bridge-cli/
/crates/iota-bridge-indexer/
/crates/iota-cluster-test/
/crates/iota-common/
/crates/iota-cost/
/crates/iota-e2e-tests/
/crates/iota-enum-compat-util/
/crates/iota-faucet/
/crates/iota-framework/
/crates/iota-framework-snapshot/
/crates/iota-framework-tests/
/crates/iota-genesis-builder/
/crates/iota-genesis-common/
/crates/iota-json/
/crates/iota-keys/
/crates/iota-light-client/
/crates/iota-macros/
/crates/iota-metric-checker/
/crates/iota-metrics/
/crates/iota-move/
/crates/iota-move-build/
/crates/iota-move-lsp/
/crates/iota-node/
/crates/iota-package-dump/
/crates/iota-package-management/
/crates/iota-package-resolver/
/crates/iota-proc-macros/
/crates/iota-proxy/
/crates/iota-replay/
/crates/iota-rosetta/
/crates/iota-rpc-loadgen/
/crates/iota-simulator/
/crates/iota-single-node-benchmark/
/crates/iota-source-validation/
/crates/iota-source-validation-service/
/crates/iota-surfer/
/crates/iota-swarm/
/crates/iota-swarm-config/
/crates/iota-test-transaction-builder/
/crates/iota-tls/
/crates/iota-tool/
/crates/iota-transaction-checks/
/crates/iota-transactional-test-runner/
/crates/iota-upgrade-compatibility-transactional-tests/
/crates/iota-util-mem/
/crates/iota-util-mem-derive/
/crates/iota-verifier-transactional-tests/
/crates/prometheus-closure-metric/
/crates/shared-crypto/
/crates/simulacrum/
/crates/telemetry-subscribers/
/crates/test-cluster/
/crates/transaction-fuzzer/
/crates/typed-store/
/crates/typed-store-derive/
/crates/typed-store-error/
/crates/typed-store-workspace-hack/