.lineNumbers {
    color: var(--iota-example-import);
    font-size: 10px;
    vertical-align: middle;
}

.token-line span:first-child {
    margin-left: 1rem;
}

.token-line .highlighted {
    background-color: var(--iota-warning);
}