:root {
  --iota-cards-border-color: rgba(0, 0, 0, 0.1);
  --iota-cards-background: #f6f8f9;
  --iota-cards-header: #4da2ff;
  --iota-cards-copy: #91a3b1;
  --iota-cards-background-hover: #ebf1f5;
}

[data-theme="dark"] {
  --iota-cards-border-color: rgba(255, 255, 255, 0.1);
  --iota-cards-background: rgba(40, 40, 40, 0.8);
  --iota-cards-background-hover: rgba(32, 32, 32, 0.8);
  --iota-cards-header: #4da2ff;
  --iota-cards-copy: #abbdcc;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 0.75rem;
  border-radius: 20px;
  padding: 1.25rem;
  padding-bottom: 1.5rem;
  background: var(--iota-cards-background);
  cursor: pointer;
  transition: background 0.25s ease-in-out;
  border: solid 1px var(--iota-cards-border-color);
}
.card:hover {
  background: var(--iota-cards-background-hover);
  border-color: var(--iota-cards-border-color);
}

.card__header__copy {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: var(--iota-cards-header);
}

.card__copy {
  font-size: 0.8125rem;
  line-height: 1.3125rem;
  color: var(--iota-cards-copy);
}
